.homepage {
	position: relative;
}

.homepage .logo {
	display: inline-block;
	padding: 0.3rem;
	background-color: var(--primary-color);
	color: whitesmoke;
}

.homepage .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.homepage .btn {
	width: 13rem;
	min-height: 5rem;
	font-size: 1.5rem;
}

.homepage .link {
	position: absolute;
	bottom: 1rem;
	right: 1.3rem;

	font-size: 0.9rem;
	border-bottom: 0.1rem solid black;
}

.homepage .link:hover,
.homepage .link:focus {
	outline: none;
	color: var(--primary-color);
	border-bottom: 0.1rem solid var(--primary-color);
	transform: scale(1.1);
	cursor: pointer;
}
