.signpage .card {
	padding: 50px 50px;
	height: 100%;
}

.signpage h3 {
	text-align: center;
	margin-bottom: 1.5rem;
}

.sign-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.sign-form .container {
	flex: 1 0 0;
	margin-bottom: 40px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.sign-form input {
	margin: 5px 0 20px auto;
}

.sign-form label {
	margin-right: 1rem;
}

.sign-form .email-label {
	margin-right: 3.2rem;
}

.sign-form .btn {
	width: 200px;
	min-height: 50px;
	margin: 0 auto 0 auto;
	font-size: 1.1rem;
}
