* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}

:root {
	--primary-color: rgb(255, 155, 61);
	--secondary-color: rgb(243, 255, 189);
}

body {
	background-color: var(--secondary-color);
}

.card {
	width: 500px;
	min-height: 400px;
	margin: 0 auto;
	padding: 60px;
	background-color: whitesmoke;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	top: -40px;
}
