* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}

:root {
	--primary-color: rgb(255, 155, 61);
	--secondary-color: rgb(243, 255, 189);
}

body {
	background-color: var(--secondary-color);
}

h2 {
	text-align: center;
	font-weight: bold;
	margin-bottom: 2.5rem;
	font-size: 2rem;
}

p {
	font-size: 1.4rem;
}

a {
	text-decoration: none;
	color: black;
}

input {
	border: none;
	border-bottom: 0.15rem solid darkgray;
	background-color: whitesmoke;
	margin: 5px auto 20px auto;
	color: var(--primary-color);
	min-width: 25ch;
	font-size: 1rem;
}

.card {
	min-height: 31rem;
	margin: 0 auto;
	padding: 3.5rem;
	background-color: whitesmoke;
	position: relative;
	top: -2.5rem;
}

.flex-column {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.btn {
	border: 0.4rem solid var(--primary-color);
	border-radius: 16px 32px;
	margin: 1rem 0;
	background-color: var(--primary-color);
	color: white;
	font-weight: bold;
}

.btn:hover,
.btn:focus {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	cursor: pointer;
	outline: none;
}

input:focus {
	outline: none;
	transform: scale(1.2);
}

@media only screen and (min-width: 540px) {
	.card {
		width: 540px;
		border-radius: 10px;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	}
}
